parameters:
	level: 6
	paths:
		- src
	fileExtensions:
		- php
	reportUnmatchedIgnoredErrors: true
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	includes:
    		- vendor/szepeviktor/phpstan-wordpress/extension.neon
	parallel:
		processTimeout: 300.0
		jobSize: 10
		maximumNumberOfProcesses: 4
		minimumNumberOfJobsPerProcess: 4

